table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 1rem;
    text-align: center;
    margin: 10px auto ;
    font-family: Ubuntu, sans serif;
    box-shadow: 10px 10px 10px #628ca6;
}

td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
}

thead {
    background-color: #7fb9c2;
    color: black;
    font-style: normal;
    font-size: 1.5rem;
}

tbody th {
    background-color: #628ca6;
    color: white;
}

tfoot td {
    background-color: #7fb9c2;
    color: black;
}

tbody tr:nth-child(even) td {
    background-color: #e7f0ed;
}

tbody tr:nth-child(odd) td {
    background-color: #e7ffed;
}

#italic {
    font-style: italic;
}
