@media (min-width: 32.5em) {
  header {
    height: 100px;
  }
  #encabezado {
    display: block;
    margin: auto;
   margin-left: 50px;
    text-align: center;
    color: #14213D;
    font-size: 30px;
  }
  
  #ciudad {
    display: block;
    margin: auto;
    margin-left: 100px;
    text-align: center;
    color: #14213D;
  }
  
  #slogan {
    display: block;
    margin: auto;
    margin-left: 100px;
    text-align: center;
    font-style: italic;
    color: #14213D;
  }
  
  header img {
    width: 30%;
    height: auto;
    float: left;
    padding: 10px 10px 0px 15px;
  }
  nav {
    text-align: center;
  }
  
  nav ul li {
    display: block;
    text-align: center;
    padding: 7px;
  }
  
  nav ul {
    text-align: center;
    
  }
  
  h3 {
    text-align: left;
  }
  
  #empresa {
    display: block;
  }
  
  #final {
    display: block;
  }
    
   
}