@media (min-width: 32.5em) {
    nav ul {
        display: flex;
    }
    
    nav ul li {
        flex: 1 1 100%;

    }

    nav button {
        display: none;
    
    }

    nav ul.hide  {
        display: flex;
    }
}