body {
    background-color:#c0c3bb;
    font-size: 18px;
    margin: 0;

}

header {
    background-color: #008BF8;
	align-items:center;
    justify-content:center;
    display: flex;
}

#encabezado {
    display: flex;
    flex-direction: column;
}

header img {
   margin-right: 125px;
   margin-top: -15px;
}

#titulo {
    font-size: 65px;
    color:#DC0073;
    margin-left: -45px;
}

#slogan {
  
    margin-bottom: 90px;
    color:#DC0073;
    margin-left: -25px;
}

nav ul {
    list-style: none; /*removes the bullets! */
    text-align: center;
 }

 main, footer {
     min-width: 700px;
     display: block;
     margin: 0;
 }