@media (min-width: 32.5em) {
    header {
        height: 120px;
    }
    
    nav{
        text-align: center;
    }

    nav ul {
        text-align: center;
    }
    
    nav ul li {
        display: block;
        text-align: center;
        padding: 7px;
    }

    .parrafo {
        padding: 5px;
    }

    #five {
        text-align: center;
        display: inline-block;
    }

    #herosum {
        display: block;
    }

    #hero {
        width: 100%;
        margin-top: 30px;
    }

    #purpose {
        margin: auto;
        font-size: 1.3rem;
        margin-left: 10px;
    }

    #primero {
        border: 1px solid #FFDB30;
	    box-shadow: 10px 10px 10px #004777;
        display: block;
        margin: auto;
    }


    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 250px 50px;
        grid-gap: 20px;
        border: 1px solid #FFDB30;
        box-shadow: 10px 10px 10px #004777;
        height: 350px;
    }

    #contacto {
        width: 100%;
        height: 100%;
        grid-column: 1/2;
        grid-row: 1/2;
        margin: 10px;
        border: 1px solid #FFDB30;
	    
    }

    #information {
    grid-column: 3/4;
    grid-row: 1/2;
    padding-bottom: 100px;
    }

    .hopage {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        justify-items: center;
        width: auto;
    }
    .data2 {
        grid-column: 1;
    }
    
    .derecha{
        grid-column: 2;
        
    }
    .left{
        grid-column: 1;
        grid-row: 1;
    };
    data{
        grid-column: -1;
    }

    .home section img {
        width: 100%;
        display: block;
        margin: auto;
    }

}