body {
   background-color: white;
   font-size: 18px;
   margin: 0;
   max-height: 80%;

 }
main {
  display: block;
  
}
header, main, footer {
  margin: 1rem auto;
   max-width: 1100px;
}
#demo {
  margin-left: -5px;
}
article {
  max-width: 22em;
  min-width: 300px;
  margin: 1em;
  min-height: 980px;
  
}
header {
   text-align: center;
   background-color: aliceblue;
   
 }

 
img {
  width: 100%;

}

 h1, h2 {
   font-family: 'Open Sans', sans-serif;

   
 }

 p {
   font-family: 'Roboto Mono', monospace;
   text-align: left;
   padding: 9px;
   margin-top: -410px;
  
 }

a {
    font-size: 20px;
    color: #DC0073;  
}

footer {
    font-size: 20px;
    text-align: center;
    margin-top: 50px;  
   
}
@media (min-width: 32.5em) {
   main {
       display: grid;
       grid-template-columns: 1fr 1fr;
       grid-template-rows: 700px 150px 700px 300px;
       grid-gap: 20px;
   }
   #aligment {
       grid-column: 1/2;
       grid-row: 3/4;
       margin-right: -60px;
       
   }
   #one {
       grid-column: 1/2;
       grid-row: 2/3;
       margin-top: -90px;
      
   }
   #two {
       grid-column: 2/3;
       grid-row: 2/3;
       margin-top: -90px;
      
   }
   #three {
       grid-column: 1/2;
       grid-row: 4/5;
       margin-top: -90px;
      
      
      
   }
   
}
@media (min-width: 64em) {
   main {
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
       grid-template-rows: 700px 100px;
   }
   #one {
       grid-column: 1/2;
       grid-row: 2/3;
       margin-top: -180px;
      
   }
   #two {
       grid-column: 2/3;
       grid-row: 2/3;
       margin-top: -180px;
   }
   #three {
      grid-column: 3/4;
      grid-row: 2/3;
      margin-top: -180px;
   }
}