body {
   background-color: white;
   padding: 25px 25px 25px 25px;
   font-size: 18px;
   margin: 0;
   max-width: 1150px;
   max-height: 400px;
 }
main {
  display: block
}

header {
   text-align: center;
   background-color: aliceblue;
   
 }

 h1, h2 {
   font-family: 'Open Sans', sans-serif;

   
 }

 p {
   font-family: 'Roboto Mono', monospace;
   text-align: left;

 }

a {
    font-size: 20px;
    color: #DC0073;  
}

footer {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
   
}



