body {
    background-color: #aeeeae;
    font-size: 18px;
    margin: 0;
    max-height: 80%;
}

header {
    text-align: center;
    background-color:#AF125A ;

}

main {
    max-width: 960px;
    margin: auto 15%;
    background-color: white;
    line-height: 1em;
    display: block;
}

h1, h2 {
    font-family: 'Open Sans', sans-serif;  
  }

 
  p {
    font-family: 'Roboto Mono', monospace;
    text-align: left;
    padding: 20px;
    margin-top: -40px;
  }
 
 a {
     font-size: 20px;
     color: #DC0073;  
 }
 
 footer {
     font-size: 20px;
     text-align: center;
     margin-top: 50px;  
    
 }

 img {
    width: 500px;
    padding: 20px 20px 20px 20px;
    
    
 }

#logo {
    width: 25%;
    padding-left: 20px;
  
}

 nav a {
    color: #043747;
    font-size: 1.2em;
  }

 nav ul {
    list-style: none; /*removes the bullets! */
    text-align: center;
 }

 nav a:hover{
	color: red;
	background-color: #FFDB30;
}

header, main, footer, nav {
    margin: 1rem auto;
     max-width: 960px;
  }

.name, .purpose, .domain, .logo, .audience {
    text-align: left;
    color: fuchsia;
    padding: 20px;
}

.target {
    text-align: center;
    color: fuchsia;
    padding-top: 20px;
}

.images {
    width: 50%;
    margin-top: -20px;
}

.one {
    padding-top: 40px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 50%;
    padding-left: 20px;
    padding-bottom: 10px;
}
table {
    padding-left: 20px;
    padding-bottom: 10px;

}